<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: mainLayout(~{::section})}"
>
<head>


  <title>Events</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<!--  <div th:replace="~{fragments/navbar :: navbar}"></div>-->
  <section>
  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Events</h2>
      <a th:href="@{/events/new}" class="btn btn-primary"
         sec:authorize="hasAnyRole('ADMIN','SOCIETY_ADMIN')">+ New Event</a>
    </div>

    
    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
    <div th:if="${error}"   class="alert alert-danger"  th:text="${error}"></div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th><th>Type</th><th>Society</th>
          <th>Attendees</th><th>Status</th><th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="event : ${events}">
          <td th:text="${event.title}"></td>
          <td th:text="${event.eventType}"></td>
          <td th:text="${event.society.name}"></td>
          <td th:text="${event.expectedAttendees}"></td>
          <td>
            <span th:text="${event.status}"
                  th:classappend="${event.status.name() == 'PUBLISHED'} ? 'badge bg-success' : 'badge bg-secondary'">
            </span>
          </td>
          <td>
            <a th:href="@{/events/{id}(id=${event.id})}" class="btn btn-sm btn-info">View</a>
            <a th:href="@{/events/{id}/edit(id=${event.id})}"
               class="btn btn-sm btn-warning"
               sec:authorize="hasAnyRole('ADMIN','SOCIETY_ADMIN')">Edit</a>
            <form th:action="@{/events/{id}/delete(id=${event.id})}"
                  method="post" style="display:inline"
                  onsubmit="return confirm('Delete this event?')">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <button class="btn btn-sm btn-danger"
                      sec:authorize="hasAnyRole('ADMIN','SOCIETY_ADMIN')">Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </section>
</body>
</html>